<template>
  <v-list-item>
    <v-list-item-avatar v-if="avatar">
      <v-img :src="avatar"></v-img>
    </v-list-item-avatar>

    <v-list-item-avatar v-else>
      <v-icon>mdi-account</v-icon>
    </v-list-item-avatar>

    <v-list-item-content v-if="nick">
      <v-list-item-title>{{nick}}</v-list-item-title>
    </v-list-item-content>

    <v-list-item-content v-else>
      <v-list-item-title>{{email}}</v-list-item-title>
    </v-list-item-content>
  </v-list-item>
</template>

<script>
export default {
  data () {
    return {
      avatar: '',
      nick: '',
      email: '',
      uid: ''
    }
  },
  mounted () {
    this.$auth().onAuthStateChanged(user => {
      if (user) {
        this.uid = user.uid
        this.email = user.email
        this.$db
          .collection('driver')
          .doc(this.uid)
          .get()
          .then(doc => {
            if (doc.exists) {
              this.avatar = doc.data().imageSrc
              this.nick = doc.data().nickname
            }
          })
      }
    })
  }
}
</script>
<style scoped>
</style>
