<template>
  <v-app>
    <v-main>
      <v-container class="fill-height" fluid>
        <v-row justify="center">
          <v-form ref="form" v-model="valid" :lazy-validation="true">
            <v-card color="grey darken-3">
              <v-card-title>
                <span class="headline">Driver Profile</span>
                <v-spacer></v-spacer>
                <small v-if="lastUpdate">Last update:&nbsp;{{lastUpdate}}</small>
              </v-card-title>
              <v-card-text>
                <v-container>
                  <v-row>
                    <v-col class="mt-7" cols="12" sm="5" md="5">
                      <v-card class="mx-auto" max-width="200" min-height="150" color="grey">
                        <v-container>
                          <v-layout>
                            <v-flex text-center class="mt-10">
                              <v-img :src="imageSrc" height="max-content" v-if="imageSrc"></v-img>
                              <v-img :src="avatar" height="max-content" v-else-if="avatar"></v-img>
                              <v-icon v-else x-large>mdi-account</v-icon>
                            </v-flex>
                          </v-layout>
                        </v-container>
                      </v-card>
                      <v-card class="mx-auto mt-7" width="max-content">
                        <v-btn color="grey" @click="updatePhoto">Update photo</v-btn>
                        <input
                          type="file"
                          @change="onFileChange"
                          style="display:none"
                          ref="inputFile"
                          accept="image/*"
                          label="File input"
                        />
                      </v-card>
                    </v-col>
                    <v-col cols="12" sm="7" md="7">
                      <v-text-field
                        label="Nickname*"
                        v-model="nickname"
                        :rules="nicknameRules"
                        required
                      ></v-text-field>
                      <v-text-field label="Email*" v-model="email" :rules="emailRules" required></v-text-field>
                      <v-text-field label="First Name" v-model="firstname" required></v-text-field>
                      <v-text-field label="Last Name" v-model="lastname" required></v-text-field>
                      <v-menu
                        ref="menu"
                        v-model="menu"
                        :close-on-content-click="false"
                        :return-value.sync="birthday"
                        transition="scale-transition"
                        offset-y
                        min-width="290px"
                      >
                        <template v-slot:activator="{ on, attrs }">
                          <v-text-field
                            v-model="birthday"
                            label="Birth date"
                            readonly
                            v-bind="attrs"
                            v-on="on"
                          ></v-text-field>
                        </template>
                        <v-date-picker v-model="birthday" no-title scrollable>
                          <v-spacer></v-spacer>
                          <v-btn text color="green darken-1" @click="menu = false">Cancel</v-btn>
                          <v-btn text color="green darken-1" @click="$refs.menu.save(birthday)">OK</v-btn>
                        </v-date-picker>
                      </v-menu>
                    </v-col>
                    <v-row>
                      <v-col cols="12">
                        <v-text-field v-model="bio" label="Bio"></v-text-field>
                      </v-col>
                    </v-row>
                  </v-row>
                </v-container>
                <small>*indicates required field</small>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="close">Close</v-btn>
                <v-btn color="blue darken-1" :disabled="!valid" text @click="validate">Update</v-btn>
              </v-card-actions>
            </v-card>
          </v-form>
        </v-row>
      </v-container>
    </v-main>
  </v-app>
</template>
<script>
import moment from 'moment'
export default {
  data: () => ({
    lastUpdate: '',
    uid: '',
    date: '',
    avatar: '',
    image: '',
    file: '',
    imageSrc: '',
    birthday: null,
    menu: false,
    valid: true,
    lazy: false,
    bio: '',
    firstname: '',
    lastname: '',
    nickname: '',
    nicknameRules: [
      v => !!v || 'Nickname is required',
      v => (v && v.length >= 3) || 'Name must be more than 3 characters'
    ],
    email: '',
    emailRules: [
      v => !!v || 'E-mail is required',
      v => /.+@.+\..+/.test(v) || 'E-mail must be valid'
    ]
  }),
  methods: {
    onFileChange (event) {
      const file = event.target.files[0]
      const reader = new FileReader()
      reader.onload = e => {
        this.image = reader.result
      }
      reader.readAsDataURL(file)
      this.image = file
      this.$storage
        .ref('images/' + this.image.name)
        .put(this.image)
        .then(response => {
          response.ref.getDownloadURL().then(downloadURL => {
            this.imageSrc = downloadURL
          })
        })
    },
    validate (
      nickname,
      email,
      firstname,
      lastname,
      birthday,
      bio,
      date,
      imageSrc,
      userId
    ) {
      if (this.$refs.form.validate()) {
        this.$db
          .collection('driver')
          .doc(this.uid)
          .set({
            nickname: this.nickname,
            email: this.email,
            firstname: this.firstname,
            lastname: this.lastname,
            birthday: this.birthday,
            bio: this.bio,
            date: this.date,
            imageSrc: this.imageSrc,
            userId: this.uid
          })
      }
    },
    close () {
      this.$router.push('/driver')
    },
    updatePhoto () {
      this.$refs.inputFile.click()
    }
  },
  mounted () {
    this.$auth().onAuthStateChanged(user => {
      if (user) {
        this.uid = user.uid
        this.$db
          .collection('driver')
          .doc(this.uid)
          .get()
          .then(doc => {
            if (doc.exists) {
              this.avatar = doc.data().imageSrc
              this.imageSrc = doc.data().imageSrc
              this.lastUpdate = doc.data().date
               this.nickname = doc.data().nickname
                this.firstname = doc.data().firstname
                 this.lastname = doc.data().lastname
                  this.email = doc.data().email
                   this.birthday = doc.data().birthday
                   this.bio = doc.data().bio
            }
          })
      }
    })
    this.date = moment().format('L')
  }
}
</script>
