<template>
  <v-app>
    <v-main>

     <v-container class="fill-height" fluid v-if="loading">
        <v-row align="center" justify="center">
          <v-col cols="12" sm="8" md="5" lg="5">
            <div class="text-center"  >
              <v-progress-circular indeterminate color="grey"></v-progress-circular>
            </div>
          </v-col>
        </v-row>
     </v-container>

      <v-container class="fill-height" fluid v-else>
        <v-row align="center" justify="center">
          <v-col cols="12" sm="8" md="5" lg="5">
            <v-card class="elevation-12" color="grey darken">
              <v-card-text class="header">
                Enter by your account
                <v-form>
                  <v-btn
                    block
                    centered
                    @click="signInGoogle"
                    large
                    class="mb-7 mt-5"
                    color="grey lighten-1"
                  >
                    Google Account
                    <v-icon right>mdi-google</v-icon>
                  </v-btn>
                  <v-spacer></v-spacer>
                  <v-btn
                    block
                    @click="signInFacebook"
                    centered
                    large
                    class="mb-5 mt-5"
                    color="grey lighten-1"
                  >
                    Facebook Account
                    <v-icon right>mdi-facebook</v-icon>
                  </v-btn>
                </v-form>
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
      </v-container>

    </v-main>
  </v-app>
</template>

<script>

export default {
  data () {
    return {
      loading: false
    }
  },
  methods: {

    signInGoogle () {
      this.loading = true
      const provider = new this.$auth.GoogleAuthProvider()
      this.$auth().signInWithPopup(provider)
        .then(() => {
          this.loading = false
        })
    },

    signInFacebook () {
      this.loading = true
      const provider = new this.$auth.FacebookAuthProvider()
      this.$auth().signInWithPopup(provider)
        .then(() => {
          this.loading = false
        })
    }
  }

}
</script>
<style scoped>
.header {
  font-size: 1.5rem;
}
</style>
