<template>
  <v-app id="inspire">
    <div v-if="isLogged">
      <v-navigation-drawer v-model="drawer" app :mini-variant.sync="mini" permanent>
        <DriverPreview />
        <v-divider></v-divider>
        <v-list dense>
          <v-list-item link>
            <v-list-item-action>
              <v-icon>mdi-view-dashboard</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>Dashboard</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
          <v-list-item link>
            <v-list-item-action>
              <v-icon>mdi-cog</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>Settings</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list>
        <template v-slot:append>
          <v-list-item link>
            <v-list-item-action>
              <v-icon>mdi-account</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <router-link to="/driver/profile" tag="div">
                <v-list-item-title>Profile</v-list-item-title>
              </router-link>
            </v-list-item-content>
          </v-list-item>
          <v-list-item link>
            <v-list-item-action>
              <v-icon>mdi-logout</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title @click="logout">Logout</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </template>
      </v-navigation-drawer>
      <v-app-bar app>
        <v-app-bar-nav-icon @click.stop="mini = !mini"></v-app-bar-nav-icon>
        <v-toolbar-title></v-toolbar-title>
        <v-breadcrumbs>
          <template>
            <v-breadcrumbs-item></v-breadcrumbs-item>
          </template>
        </v-breadcrumbs>
      </v-app-bar>
    </div>
    <div v-else>
      <div v-if="!loading">
        <LoginForm />
      </div>
    </div>
    <router-view></router-view>
    <v-main>
      <v-container class="fill-height" fluid>
        <v-row align="center" justify="center">
          <v-col cols="12" sm="8" md="5" lg="5">
            <div class="text-center" v-if="loading">
              <v-progress-circular indeterminate color="grey"></v-progress-circular>
            </div>
          </v-col>
        </v-row>
      </v-container>
      <template>
        <v-row justify="center">
          <v-dialog v-model="dialog" persistent max-width="390">
            <template></template>
            <v-card color="grey darken-3">
              <v-card-title class="body">Are you realy want to exit?</v-card-title>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="green darken-1" text @click="dialog = false">no</v-btn>
                <v-btn color="green darken-1" text @click="confirmation">yes</v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-row>
      </template>
    </v-main>
    <v-footer app>
      <span>&copy; 2020</span>
    </v-footer>
  </v-app>
</template>
<script>
import LoginForm from './components/LoginForm.vue'
import DriverPreview from './components/DriverPreview'

export default {
  components: {
    LoginForm,
    DriverPreview
  },
  data: () => ({
    drawer: null,
    isLogged: false,
    dialog: false,
    loading: false,
    mini: true
  }),
  methods: {
    confirmation () {
      this.$auth().signOut()
      this.dialog = false
    },
    logout () {
      this.dialog = true
    }
  },
  mounted () {
    this.$vuetify.theme.dark = true
    this.loading = true
    this.$auth().onAuthStateChanged(user => {
      this.isLogged = !!user
      this.loading = false
    })
  }
}
</script>
